body{
    background-color: #F5F9F9;
    /* background-size: cover; */
}

.message-container {
    max-width: auto;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
  }

  .user-message {
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    width: 200px;
}

.reply-message {
    background-color: #007bff;
    width: 200px;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: auto;
  }

  .timestamp {
    font-size: small;
  }      .footer-container {
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-container {
  background-color: #f8f9fa;
  position:fixed;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
}

footer {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.nav-link {
  color: #6c757d;
}

.nav-link:hover {
  color: #007bff;
}

.text-muted {
  color: #6c757d;
}

.blue_tick{
  color: #007bff;
}
@media (max-width: 430px) {
  .footer_UL{
    display: flex;
    justify-content: center;
    align-items: center;
 /* Set the height if you want to center vertically */
    margin: 0 auto;
  }
  .footer_nav{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
  }
  .main_container{
    display: inline-block !important; 
  }
  .image_container{
    width: auto !important; 
  }

}
.loader_box {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: #fff;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999999;
}
.loader_box .loader {
  width: 112px;
  height: 112px;
}

.loader_box .box1,
.loader_box .box2,
.loader_box .box3 {
  border: 16px solid #545151;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.loader_box .box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 4s 1s forwards ease-in-out infinite;
}

.loader_box .box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 4s 1s forwards ease-in-out infinite;
}

.loader_box .box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 4s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}
